@import "tailwindcss";

@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("../public/fonts/HelveticaNeueMedium.otf") format("truetype");
}

@font-face {
    font-family: "Helvetica Neue Black";
    src: url("../public/fonts/HelveticaNeueBlack.otf") format("truetype");
}

@font-face {
    font-family: "Helvetica Neue Heavy";
    src: url("../public/fonts/HelveticaNeueHeavy.otf") format("truetype");
}

@font-face {
    font-family: "Helvetica Neue Light";
    src: url("../public/fonts/HelveticaNeueLight.otf") format("truetype");
}

@font-face {
    font-family: "Helvetica Neue Thin";
    src: url("../public/fonts/HelveticaNeueThin.otf") format("truetype");
}

.font-Antonio {
    font-family: var(--font-Antonio);
}
.font-Poppins {
    font-family: var(--font-Poppins);
}

.font-inter {
    font-family: var(--font-inter);
}

.font-HelveticaNeueMedium {
    font-family: "Helvetica Neue Medium";
}
.font-HelveticaNeueBlack {
    font-family: "Helvetica Neue Black";
}
.font-HelveticaNeueHeavy {
    font-family: "Helvetica Neue Heavy";
}
.font-HelveticaNeueLight {
    font-family: "Helvetica Neue Light";
}
.font-HelveticaNeueThin {
    font-family: "Helvetica Neue Thin";
}

.h1-color {
  color: #523122;
}
.h1-2color {
  color: #fce1cd;
}
.h1-bg-color {
  background-color: #a16833;
}

body {
    background-color: #222123;
}
